<!DOCTYPE html>
<html>
<head th:replace="layouts :: header"></head>
<body>
	<nav th:replace="layouts :: navbarCUS"></nav>
	<div sec:authorize="isAuthenticated()">
	<div>
		<h4>Current Customers</h4>
		<br>
		<div sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/kanban-board/customers/new}" class="btn-primary btn-sm mb-3" >Add new Customer</a>
		</div>
		<br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Customer Name</th>
					<th>Short Name</th>
					<th>Details</th>
					<th>Customer Id</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aCustomer : ${customersList}">
					<td th:text="${aCustomer.name}"></td>
					<td th:text="${aCustomer.shortName}"></td>
					<td th:text="${aCustomer.details}"></td>
					<td th:text="${aCustomer.customerId}" sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')"></td>
					<td sec:authorize=hasAnyRole('MANAGER','TEAMMEMBER','USER')>hidden</td>
					
					<td>
					 <div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
					 	<a th:href="@{/kanban-board/customers/verander/(id=${aCustomer.customerId})}" class="btn-info btn-sm" >Update</a>&nbsp;&nbsp;&nbsp;
					 	<a th:href="@{/kanban-board/customers/maakdood/(id=${aCustomer.customerId})}" class="btn-danger btn-sm"  
				  	 	onClick="if (!(confirm('Are you sure you want to delete this customer?'))) return false" >Delete</a>	
				  	 </div>		
				  	 <div sec:authorize=hasAnyRole('MANAGER','TEAMMEMBER','USER')>No Action</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>


</body>
</html>