<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
    <title>Kanban Board</title>
</head>
<body>
<nav th:replace="layouts :: navbarTASK"></nav>
<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">


    <br>
    <div class="container">

        <H3>Capture Task</H3>
        <br><br>
        <form method="POST" th:action="@{/kanban-board/tasks/save}" th:object="${taskPersistRequest}">


            <!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->
            <input th:field="${taskPersistRequest.dateCreated}" type="hidden"/>
            <input th:field="${taskPersistRequest.taskId}" type="hidden"/>
            <b>Task ID:</b>
            <div class="form-group row" th:text="${taskPersistRequest.taskId}">
            </div>
            <b>Date created:</b>
            <div class="form-group row" th:text="${taskPersistRequest.dateCreated}">
            </div>

            <div class="form-group row">
                <input placeholder="Task Name" th:field="${taskPersistRequest.name}"
                       type="text"> <span
                    style="color: red" th:errors="${taskPersistRequest.name}"
                    th:if="${#fields.hasErrors('name')}"> </span>
            </div>

            <div class="form-group row">
                <input placeholder="Description" th:field="${taskPersistRequest.description}"
                       type="text"> <span
                    style="color: red" th:errors="${taskPersistRequest.description}"
                    th:if="${#fields.hasErrors('description')}"> </span>
            </div>

            <b>select the UserStory:</b>
            <div class="form-group row">
                <select th:field="${taskPersistRequest.userStoryId}">
                    <option th:each="userStory : ${userStories}" th:text="${userStory.name}"
                            th:value="${userStory.userStoryId}"></option>
                </select>
            </div>


            <b>Assigned the Task to Employee:</b>
            <div class="form-group row">
                <select th:field="${taskPersistRequest.assignedTo}">
                    <option th:each="employee : ${employees}" th:text="${employee.fullName}"
                            th:value="${employee.employeeId}"></option>
                </select>
            </div>

            <b>Set the Status:</b>
            <div class="form-group row">
                <select th:field="${taskPersistRequest.status}">
                    <option
                            th:each="statusValue : ${statusValues}"
                            th:text="${statusValue.displayValue}"
                            th:value="${statusValue.description}"></option>
                </select>
            </div>

            <b>Is Task Active:</b>
            <div class="form-group row">
                <select th:field="${taskPersistRequest.isActive}">
                    <option selected value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div class="form-group row">
                <button class="btn btn-info col-2" type="submit">Save Task</button>
            </div>

        </form>
    </div>
</div>

</body>

</html>