<!DOCTYPE html>
<html>

<head th:replace="layouts :: header">
    <title>Kanban Board</title>
</head>
<body>
<nav th:replace="layouts :: navbarUSR"></nav>
<div sec:authorize="isAuthenticated()">
    <div>
        <h4>UserStory Kanban Board</h4>
        <div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
            <a class="btn-primary btn-sm mb-3" th:href="@{/kanban-board/tasks/board}">Task Kanban Board</a>
        </div>
        <div>&nbsp;</div>
        <div>
            <a class="btn-primary btn-sm mb-3" th:href="@{/kanban-board/subtasks/board}">Subtask Kanban Board</a>
        </div>
        <div>&nbsp;</div>
        <div sec:authorize="hasAnyRole('ADMIN','MANAGER')">
            <a class="btn-primary btn-sm mb-3" th:href="@{/kanban-board/userstories/new}">Add new UserStory</a>
        </div>
        <br><br>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>UserStory Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aUserStory : ${userStoryList}">
                <td th:text="${aUserStory.name}"></td>
                <td th:text="${aUserStory.description}"></td>
                <td th:text="${aUserStory.status}"></td>
                <td>
                    <div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
                        <a class="btn-info btn-sm"
                           th:href="@{/kanban-board/userstories/workflow/(id=${aUserStory.userStoryId})}">Change Status</a>&nbsp;&nbsp;&nbsp;
                    </div>

                    <div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
                        <a class="btn-info btn-sm"
                           th:href="@{/kanban-board/userstories/verander/(id=${aUserStory.userStoryId})}">Edit</a>
                    </div>
                    <div sec:authorize="hasRole('USER')">No Action</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>