<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
	<nav th:replace="layouts :: navbarTEAM"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">

		

		<br>
		<div class="container">

			<H3>Capture Team</H3>
		<br><br>
			<form th:action="@{/teams/save}" th:object="${teamtPersistRequest}" method="POST">


				<!--  This will be used to bind to the team that was clicked on (USED FOR UPDATES)-->
				<input type="hidden" th:field="${teamtPersistRequest.dateCreated}" />
				<input type="hidden" th:field="${teamtPersistRequest.teamId}" />
				<b>Team ID:</b>
				<div class="form-group row" th:text="${teamtPersistRequest.teamId}"> 
				</div>
				<b>Date created:</b>
				<div class="form-group row" th:text="${teamtPersistRequest.dateCreated}"> 
				</div>
				
				<div class="form-group row">
					<input type="text" placeholder="Team Name"
						th:field="${teamtPersistRequest.name}"> <span
						style="color: red" th:if="${#fields.hasErrors('name')}"
						th:errors="${teamtPersistRequest.name}"> </span>
				</div>

				<div class="form-group row">
					<input type="text" placeholder="Description"
						th:field="${teamtPersistRequest.description}"> <span
						style="color: red" th:if="${#fields.hasErrors('description')}"
						th:errors="${teamtPersistRequest.description}"> </span>
				</div>


				<b>Is Team Active:</b>
				<div class="form-group row">
					<select th:field="${teamtPersistRequest.isActive}">
						<option value="1" selected>Yes</option>
						<option value="0">No</option>
					</select>
				</div>

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Team</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>