<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
    <title>Kanban Board</title>
</head>
<body>
<nav th:replace="layouts :: navbarEMP"></nav>
<div sec:authorize="hasRole('ADMIN')">


    <br>
    <div class="container">

        <H3>Capture Employee</H3>
        <br><br>
        <form method="POST"
              th:action="@{/kanban-board/employees/save}" th:object="${employeetPersistRequest}">


            <!--  This will be used to bind to the employee that was clicked on (USED FOR UPDATES)-->
            <input th:field="${employeetPersistRequest.employeeId}"
                   type="hidden"/>

            <div class="form-group row">
                <input placeholder="Full Name" th:field="${employeetPersistRequest.fullName}"
                       type="text"> <span
                    style="color: red" th:errors="${employeetPersistRequest.fullNamee}"
                    th:if="${#fields.hasErrors('fullName')}"> </span>
            </div>

            <div class="form-group row">
                <input placeholder="Email Address" th:field="${employeetPersistRequest.email}"
                       type="text"> <span
                    style="color: red" th:errors="${employeetPersistRequest.email}"
                    th:if="${#fields.hasErrors('email')}"> </span>
            </div>

            <b>Enter a unique Id Number</b>
            <div class="form-group row">
                <input placeholder="Identity Number" th:field="${employeetPersistRequest.idNumber}"
                       type="text"> <span
                    style="color: red" th:errors="${employeetPersistRequest.idNumber}"
                    th:if="${#fields.hasErrors('idNumber')}"> </span>
            </div>

            <b>Enter a unique User Id</b><br>
            <div class="form-group row">
                <input placeholder="User Id" th:field="${employeetPersistRequest.userId}"
                       type="text"> <span
                    style="color: red" th:errors="${employeetPersistRequest.userId}"
                    th:if="${#fields.hasErrors('userId')}"> </span>
            </div>

            <b>Password:</b>
            <div class="form-group row">
                <input placeholder="User Password" th:field="${employeetPersistRequest.password}"
                       type="password"> <span
                    style="color: red" th:errors="${employeetPersistRequest.password}"
                    th:if="${#fields.hasErrors('password')}"> </span>
            </div>

            <b>Specify the Role of the Employee:</b>
            <div class="form-group row">
                <select th:field="${employeetPersistRequest.authority}">
                    <option value="ROLE_USER">Normal user Role</option>
                    <option value="ROLE_ADMIN">Administrator Role</option>
                    <option value="ROLE_TEAMMEMBER">Team member Role</option>
                    <option value="ROLE_MANAGER">Manager Role</option>
                </select>
            </div>

            <b>Assigned the Employee to Team:</b>
            <div class="form-group row">
                <select th:field="${employeetPersistRequest.teamId}">
                    <option th:each="team : ${teams}" th:text="${team.name}" th:value="${team.teamId}"></option>
                </select>
            </div>

            <b>Is Employee Enabled:</b>
            <div class="form-group row">
                <select th:field="${employeetPersistRequest.enabled}">
                    <option selected value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <div class="form-group row">
                <button class="btn btn-info col-2" type="submit">Save
                    Employee
                </button>
            </div>

        </form>
    </div>
</div>

</body>

</html>