<!DOCTYPE html>
<html>
<head th:replace="layouts :: headerSUBTASK">
  <title>Kanban Board</title>
</head>
<body>
	<nav th:replace="layouts :: navbarSUBTASK"></nav>
	<div sec:authorize="isAuthenticated()">
	<div>
		<h4>Subtasks Kanban Board</h4>
		<br>
		<div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
			<a th:href="@{/kanban-board/tasks/board}" class="btn-primary btn-sm mb-3" >Task Kanban Board</a>
		</div>
		<div>&nbsp;</div>
		<div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
			<a th:href="@{/kanban-board/subtasks/new}" class="btn-primary btn-sm mb-3" >Add new Subtask</a>
		</div>
		<br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Subtask Name</th>
					<th>Description</th>
					<th>Subtask Id</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aSubtask : ${subtasks}">
					<td th:text="${aSubtask.name}"></td>
					<td th:text="${aSubtask.description}"></td>
					<td th:text="${aSubtask.subtaskId}" sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')"></td>
					<td sec:authorize=hasAnyRole('MANAGER','TEAMMEMBER','USER')>hidden</td>
					
					<td>
					 <div sec:authorize="hasAnyRole('ADMIN','MANAGER','TEAMMEMBER')">
				  	 	<a th:href="@{/kanban-board/subtasks/workflow/(id=${aSubtask.subtaskId})}" class="btn-info btn-sm" >Assign subtask to</a>&nbsp;&nbsp;&nbsp;
					 	<a th:href="@{/kanban-board/subtasks/verander/(id=${aSubtask.subtaskId})}" class="btn-info btn-sm" >Edit</a>&nbsp;&nbsp;&nbsp;
				  	 </div>		
				  	 <div sec:authorize=hasAnyRole('MANAGER','TEAMMEMBER','USER')>No Action</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>


</body>
</html>